body{
    margin: 0;
    font-family: "Tahoma", sans-serif;
    font-size: 1vw;
}

container-box{
    display: inline-grid;
    grid-template-columns: 1fr 9fr;
    
}




.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0F3AA4;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
    font-size: 1.1rem;
    font-weight: 200;
        
}

.sidenav a{
    color: #C8FDFF;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    
    
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
    transition: margin-left .5s;
    display: block;
    padding: 20px 20px 20px 92px;
    
}

.header{
    display: flex;
    
    height: 12vw;
    background-color: aqua;
    
    
    align-items: center;
    flex-direction: column;
    
    font-size: 4vw;
    
}

.header p{
    display: table-cell;
}

@media screen and (max-height: 450px){
    .sidenav{
        padding-top: 15px;
    }
    
    .sidenav a{font-size: 18px;}
}


.openMenu{
    

    width: 3%;
    height: 100%;
    writing-mode: vertical-lr;
    position: fixed;
    float: right;
    padding-top: 20px;
    padding-right: 0;
    background-color: #0F3AA4 ;
    color: #C8FDFF;
    font-size: 2.5vw;
    
}

.form-container{
    
    display: block;
    border-radius: 0.8em;
    border-color: argb(11,11,152,1);
    border-style: solid;
    border-width: thin;
    background-color: #fAfAfA;
    margin: 0.8em auto;
    padding: 0.8em;
    width: 45%;
    align: center;
    
    
    
}

.form-group{
    padding: 0.2em;
    margin: 1em;
}



td{
    height: 20;
}

.btn{
    width: 65%;
    height: 180%;
    font-size: 1.2rem;
    border-radius: 0.8em;
    border-width: thin;
    border-color: rgba(11, 10, 112);
    background-color: #f2f2f2;
}

.btn:hover{
    background-color: rgba(11, 10, 112);
    border-color: #f2f2f2;
    color: #f2f2f2;
}

#cpf{ width: 50%; padding: 0.3em; font-size: 0.8rem;}

#cliNm{ width: 110%; padding: 0.3em; font-size: 0.8rem;}

#dtNasc{ width: 60%; padding: 0.3em; font-size: 1rem;}

#cep{ width: 50%; padding: 0.3em; font-size: 0.8rem;}

#rua{ width: 100%; padding: 0.3em; font-size: 0.8rem;}

#nr{ width: 50%; padding: 0.3em; font-size: 0.8rem;}

#cmpl{ width: 60%; padding: 0.3em; font-size: 0.8rem;}

#bairro{ width: 70%; padding: 0.3em; font-size: 0.8rem;}

#cidade{ width: 90%; padding: 0.3em; font-size: 0.8rem;}

#uf{ width: 20%; padding: 0.3em; font-size: 0.8rem;}


