body{
    margin: 0;
}

container-box{
    display: inline-grid;
    grid-template-columns: 1fr 9fr;
    
}




.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(11, 10, 112);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
    
        
}

.sidenav a{
    color: #f2f2f2;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main{
    transition: margin-left .5s;
    
    padding: 20px 20px 20px 102px;;
    
}

@media screen and (max-height: 450px){
    .sidenav{
        padding-top: 15px;
    }
    
    .sidenav a{font-size: 18px;}
}


.openMenu{
    

    width: 72px;
    height: 100%;
    writing-mode: vertical-lr;
    position: fixed;
    float: right;
    padding-top: 20px;
    padding-right: 10px;
    

    background-color: rgba(11, 10, 112);
    color: #f2f2f2;
    font-size: 60px;
    
}

.openMenu p{
    writing-mode: lr-tb;
}